body {
  
  .Modal {
    display: none;
    &.active {
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      overflow: auto;
      z-index: 300;
      background-color: #3338;
      display: block;
    }
    .Card {
      margin: 10rem auto;
    }
  }
  .spinner {
    animation: spinner 0.75s ease-in-out infinite;
  }
}
Html{
  background-color: #f3f4f6
}